mat-form-field {
    background-color: rgba(83, 101, 119);
    width: 216px;
    //transition: all 0.5s ease-in-out;
    color: white;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(189, 202, 216) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(219, 230, 241) !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(142, 168, 194);
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(142, 168, 194) !important;
}

mat-error {
    color: rgb(243, 164, 164);
}
