.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    // overflow: hidden;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
