.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

// cdk-virtual-scroll-viewport {
//     height: 100vh;
//     width: 80vh;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     list-style: none;
// }
