<div class = "title" *ngIf = "!this.toolManager.nonTools">{{this.toolManager.currentTool.toolName}}</div>
<div class = "title" *ngIf = "this.toolManager.nonTools">Autres Options</div>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div *ngIf = "!this.toolManager.showPalette && !this.toolManager.nonTools">
    <div class="Slider" *ngIf="this.toolManager.currentTool != this.toolManager.airbrushService && this.toolManager.currentTool != this.toolManager.textService 
    && this.toolManager.currentTool != this.toolManager.pipetteService">
        <mat-card>
            Épaisseur:
            <mat-slider
                min="1"
                max="50"
                step="1"
                value="1"
                class="slider"
                (change)="changeWidth($event.value)"
                (input)="this.toolManager.widthValue = $event.value"
                [value]="this.toolManager.widthValue"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.widthValue }} </mat-card-subtitle>
        </mat-card>
    </div>
    
    <div class="Slider" *ngIf="this.toolManager.currentTool == this.toolManager.airbrushService">
        <mat-card>
            Nombre d'émissions / sec:
            <mat-slider
                min="100"
                max="900"
                step="200"
                value="1"
                class="slider"
                (change)="changeEmissionRate($event.value)"
                (input)="this.toolManager.airbrushService.emissionRate = $event.value"
                [value]="this.toolManager.airbrushService.emissionRate"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.airbrushService.emissionRate }} </mat-card-subtitle>
        </mat-card>
        <mat-card>
            Diamètre du jet:
            <mat-slider
                min="10"
                max="100"
                step="10"
                value="1"
                class="slider"
                (change)="changeJetDiameter($event.value)"
                (input)="this.toolManager.airbrushService.jetDiameter = $event.value"
                [value]="this.toolManager.airbrushService.jetDiameter"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.airbrushService.jetDiameter }} px</mat-card-subtitle>
        </mat-card>
        <mat-card>
            Diamètre des gouttelettes:
            <mat-slider
                min="0.1"
                max="3"
                step="0.1"
                value="1"
                class="slider"
                (change)="changeDropletDiameter($event.value)"
                (input)="this.toolManager.airbrushService.dropletDiameter = $event.value"
                [value]="this.toolManager.airbrushService.dropletDiameter"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.airbrushService.dropletDiameter }} px</mat-card-subtitle>
        </mat-card>
    </div>
    
    <div *ngIf="this.toolManager.currentTool == this.toolManager.textService">
        <mat-button-toggle-group>
            <mat-button-toggle (click)="this.toolManager.textService.changeAlignment('left')"><fa-icon [icon]="faAlignLeft" size="lg"></fa-icon></mat-button-toggle>
            <mat-button-toggle (click)="this.toolManager.textService.changeAlignment('center')"><fa-icon [icon]="faAlignCenter" size="lg"></fa-icon></mat-button-toggle>
            <mat-button-toggle (click)="this.toolManager.textService.changeAlignment('right')"><fa-icon [icon]="faAlignRight" size="lg"></fa-icon></mat-button-toggle>
        </mat-button-toggle-group>
    
        <mat-button-toggle-group>
            <mat-button-toggle 
            [ngClass]="{active: this.toolManager.textService.bold}"
            (click)="this.toolManager.textService.reverseBold()"><fa-icon [icon]="faBold" size="lg"></fa-icon></mat-button-toggle>
            <mat-button-toggle
            [ngClass]="{active: this.toolManager.textService.italic}"
            (click)="this.toolManager.textService.reverseItalic()"><fa-icon [icon]="faItalic" size="lg"></fa-icon></mat-button-toggle>
        </mat-button-toggle-group>
    
    
        <mat-card class = "TextSlider">
            Taille de Police:
            <mat-slider
            min="12"
            max="72"
            step="2"
            value="this.toolManager.textService.fontSize"
            class="slider"
            (change)="this.toolManager.textService.changeFontSize($event.value)"
            (input)="this.toolManager.textService.fontSize = $event.value"
            [value]="this.toolManager.textService.fontSize"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.textService.fontSize }}</mat-card-subtitle>
        </mat-card>
    
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item class="font-button" style="font-family: 'Algerian'" (click)="this.toolManager.textService.changeFont('Algerian')">Algerian</button>
            <button mat-menu-item class="font-button" style="font-family: 'Arial'" (click)="this.toolManager.textService.changeFont('Arial')">Arial</button>
            <button mat-menu-item class="font-button" style="font-family: 'Blackadder ITC'" (click)="this.toolManager.textService.changeFont('Blackadder ITC')">Blackadder ITC</button>
            <button mat-menu-item class="font-button" style="font-family: 'Brush Script MT'" (click)="this.toolManager.textService.changeFont('Brush Script MT')">Brush Script MT</button>
            <button mat-menu-item class="font-button" style="font-family: 'Century Gothic'" (click)="this.toolManager.textService.changeFont('Century Gothic')">Century Gothic</button>
            <button mat-menu-item class="font-button" style="font-family: 'Comic Sans MS'" (click)="this.toolManager.textService.changeFont('Comic Sans MS')">Comic Sans MS</button>
            <button mat-menu-item class="font-button" style="font-family: 'Courier New'" (click)="this.toolManager.textService.changeFont('Courier New')">Courier New</button>
            <button mat-menu-item class="font-button" style="font-family: 'Magneto'" (click)="this.toolManager.textService.changeFont('Magneto')">Magneto</button>
            <button mat-menu-item class="font-button" style="font-family: 'Showcard Gothic'" (click)="this.toolManager.textService.changeFont('Showcard Gothic')">Showcard Gothic</button>
            <button mat-menu-item class="font-button" style="font-family: 'Times New Roman'" (click)="this.toolManager.textService.changeFont('Times New Roman')">Times New Roman</button>
        </mat-menu>
        <button mat-flat-button [matMenuTriggerFor]="appMenu"> {{this.toolManager.textService.font}}</button>
    </div>

    <mat-button-toggle-group *ngIf="this.toolManager.currentTool == this.toolManager.rectangleService">
        <mat-button-toggle value="1" (change)="setRectangleStyle($event.value)">Remplir</mat-button-toggle>
        <mat-button-toggle value="2" (change)="setRectangleStyle($event.value)">Contour</mat-button-toggle>
        <mat-button-toggle value="3" (change)="setRectangleStyle($event.value)">Les Deux</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
        *ngIf="
            this.toolManager.currentTool == this.toolManager.rectangleSelection || this.toolManager.currentTool == this.toolManager.ellipseSelection
        "
    >
        <mat-button-toggle value="1" (change)="this.toolManager.setTool(this.toolManager.rectangleSelection)">Rectangle</mat-button-toggle>
        <mat-button-toggle value="2" (change)="this.toolManager.setTool(this.toolManager.ellipseSelection)">Ellipse</mat-button-toggle>
        <mat-button-toggle (change)="this.toolManager.rectangleSelection.selectAll(); this.toolManager.setTool(this.toolManager.rectangleSelection)"
            >Tout selectionner</mat-button-toggle
        >
    </mat-button-toggle-group>

    <div *ngIf="this.toolManager.currentTool == this.toolManager.polygonService" class="Slider">
        <mat-card>
            <div>Nb côté:</div>
            <mat-slider
                min="3"
                max="12"
                step="1"
                class="slider"
                (change)="this.toolManager.polygonService.setNumberOfSides($event)"
                (input)="this.toolManager.polygonService.sides = $event.value"
                [value]="this.toolManager.polygonService.sides"
            ></mat-slider>
            <mat-card-subtitle>{{ this.toolManager.polygonService.sides }}</mat-card-subtitle>
        </mat-card>
        
        <mat-button-toggle-group>
            <mat-button-toggle value="1" (change)="setPolygonStyle($event.value)">Remplir</mat-button-toggle>
            <mat-button-toggle value="2" (change)="setPolygonStyle($event.value)">Contour</mat-button-toggle>
            <mat-button-toggle value="3" (change)="setPolygonStyle($event.value)">Les Deux</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-button-toggle-group *ngIf="this.toolManager.currentTool == this.toolManager.ellipseService">
        <mat-button-toggle value="1" (change)="setEllipseStyle($event.value)">Remplir</mat-button-toggle>
        <mat-button-toggle value="2" (change)="setEllipseStyle($event.value)">Contour</mat-button-toggle>
        <mat-button-toggle value="3" (change)="setEllipseStyle($event.value)">Les Deux</mat-button-toggle>
    </mat-button-toggle-group>

    <app-pipette *ngIf="this.toolManager.currentTool == this.toolManager.pipetteService"></app-pipette>

    
    <br />
    <div class="junctionRadiusSlider" *ngIf="this.toolManager.currentTool == this.toolManager.lineService">
        <mat-card
        >Diamètre:
        <mat-slider
        min="2"
        max="50"
        step="1"
        value="this.toolManager.lineService.currentDiameter"
        class="slider"
        (change)="changeDiameter($event.value)"
        (input)="this.toolManager.lineService.currentDiameter = $event.value"
        [value]="this.toolManager.lineService.currentDiameter"
        ></mat-slider>
        {{ this.toolManager.lineService.currentDiameter }}
        <br />
        </mat-card>
    </div>
    <mat-button-toggle-group *ngIf="this.toolManager.currentTool == this.toolManager.lineService">
        <mat-button-toggle id="jonc" value="0" (change)="setLineJunction($event.value)">Sans jonction</mat-button-toggle>
        <mat-button-toggle id="jonc" value="1" (change)="setLineJunction($event.value)">Avec jonction</mat-button-toggle>
    </mat-button-toggle-group>
    
</div>

<div class= "non-tools" *ngIf = "this.toolManager.nonTools">
    <button class= "nonTools" (click)="this.toolManager.clearArrays()" matTooltip="Créer un nouveau dessin" matTooltipPosition="after" matTooltipShowDelay="600">
        <fa-icon [icon]="faPlusSquare" size="lg"></fa-icon>
    </button>

    <button class= "nonTools" (click)="openSaveDrawingForm()" matTooltip="Sauvegarder le dessin" matTooltipPosition="after" matTooltipShowDelay="600">
        <fa-icon [icon]="faSave" size="lg"></fa-icon>
    </button>

    <button class= "nonTools" (click)="openCarousel()" matTooltip="Ouvrir le carrousel de dessins" matTooltipPosition="after" matTooltipShowDelay="600">
        <fa-icon [icon]="faImages" size="lg"></fa-icon>
    </button>
    <button class= "nonTools" (click)="export()" matTooltip="Exporter le dessin" matTooltipPosition="after" matTooltipShowDelay="600">
        <fa-icon [icon]="faDownload" size="lg"></fa-icon>
    </button>
    <button class= "nonTools" routerLink="/home" matTooltip="Retour à la page principale" matTooltipPosition="after" matTooltipShowDelay="600">
        <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </button>
</div>