<form [formGroup]="exportForm" name="exportForm">
    <mat-form-field MatFormFieldControl="fileNameControl">
        <mat-label>Nom du fichier </mat-label>
        <input
            matInput
            name="drawingTitle"
            autocomplete="off"
            [formControl]="fileNameControl"
            (focus)="disableShortcut()"
            (blur)="enableShortcut()"
        />
        <!-- TODO: COMPLETE INPUT VALIDATION -->
        <mat-error *ngIf="fileNameControl.invalid && fileNameControl.touched">Nom invalide!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Format de fichier</mat-label>
        <mat-select [formControl]="fileExtentionControl">
            <mat-option value="jpeg">JPG</mat-option>
            <mat-option value="png">PNG</mat-option>
        </mat-select>
    </mat-form-field>

    <canvas #filterPreviewCanvas [width]="600" [height]="480"></canvas>
    <a #downloadLink href="" download=""> </a>
    <button (click)="ApplyFilter()">Essayez ce filtre!</button>

    <button (click)="ExportDrawing()">Exporter votre dessin</button>
</form>
