mat-dialog {
    background-color: rgba(83, 101, 119);
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

#canvas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
}
