.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-height: 100vh;
    height: auto;
    background-color: rgb(53, 64, 75);
    color: white;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

app-menu-card {
    align-self: center;
}

#empty {
    height: 100px;
}
