<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <p>Barre latérale pour vos outils!</p>
    <p>
        Ceci est une implémentation de base de l'outil Crayon pour aider à débuter le projet <br />
        L'implémentation ici ne couvre pas tous les critères d'acceptation du projet<br />
        Vous êtes encouragés de modifier et compléter le code.<br />
        N'oubliez pas de regarder les tests dans les fichiers spec.ts aussi!
    </p>

    <mat-card>
        <mat-slider
            min="1"
            max="100"
            step="0.5"
            value="1"
            class="slider"
            (change)="changeWidth($event.value)"
            (input)="widthValue = $event.value"
            [value]="widthValue"
        ></mat-slider>
        {{ widthValue }}
        <p></p>
        <label>Width: <input [(ngModel)]="widthValue" (change)="changeWidth(widthValue)" /></label>
    </mat-card>

    <app-toolbar></app-toolbar>
</div>
