#witdhInput {
    margin-top: 15px;
    opacity: 0.7;
    font: black;
}

.slideContainer {
    width: 70%;
    margin-top: 250px;
}

.btns {
    width: 355px;
}

.undo{
    width: 50px;
}

.undo:focus{
    background-color: rgb(53, 64, 75);
    color: white;
}

.redo:focus{
    background-color: rgb(53, 64, 75);
    color: white;
}

.undoDis{
    color: rgb(123, 140, 156);
    width: 50px;
}

.undoDis:hover{
    background-color: rgb(63, 72, 80);
    color: rgb(123, 140, 156);
    width: 50px;
}

.undoDis:focus{
    background-color: rgb(53, 64, 75);
    color: rgb(123, 140, 156);
    width: 50px;
}

.redoDis:focus{
    background-color: rgb(53, 64, 75);
    color: rgb(123, 140, 156);
    width: 50px;
}

.redo{
    width: 50px;
}

.redoDis{
    color: rgb(123, 140, 156);
    width: 50px;
}

.redoDis:hover{
    background-color: rgb(63, 72, 80);
    color: rgb(123, 140, 156);
    width: 50px;
}

.undoRedo {
    display: flex;
    padding-bottom: 20px;
}

button {
    display: block;
    border: none;
    background-color: rgb(53, 64, 75);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 0%;
    transition: 0.3s;
}

button:hover {
    display: block;
    border: none;
    background-color: rgb(197, 243, 231);
    color: black;
    height: 50px;
    border-radius: 0%;
    font-size: 20px;
}

button:focus {
    outline: none;
    background-color: rgb(107, 240, 206);
    color: black;
}

::ng-deep .mat-tooltip {
    //tooltip
    background-color: rgb(53, 64, 75, 0.9);
}

#jonc {
    width: 122.5px;
}


.junctionRadiusSlider mat-card {
    width: 216px;
    padding: 0;
    padding-left: 2px;
}

.TextSlider {
    padding-top: 10px;
    width: 183px;
    vertical-align: top;
    text-align: left;
}

app-color-picker{
    padding-left: 100px;
    margin-top: -636px;
}

.non-tools {
    padding-top: 80px;
}

